body{
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    background: linear-gradient(100deg, rgb(48, 166, 170), rgb(26, 197, 137));
    height: 100vh;
   overflow: hidden;
}
/*------------------------------------------------*/
.center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background: linear-gradient(-70deg, rgb(73, 124, 126), rgb(121, 150, 140));
    border-radius: 10px;
    
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver ;
}
/*------------------------------------------------*/
.center form{
    padding: 0 45px;
    box-sizing: border-box;
    
}
/*------------------------------------------------*/
form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
   
}
.text-field input{
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text-field label{
    position: absolute;
    top:50%;
    left: 5px;
    color:#adadad ;
    transform: translatey(-50%);
    font-size: 16px;
    pointer-events: none;
    transition:.5s ;
    
}
/*-------------------------------------------------------------------------------*/
.text-field input:focus ~ label,
.text-field input:valid ~ label {
    top: -5px;
    color: #26d9ac;
    font-size: 14px;
}
/*------------------------------------------------*/
.prog{
    color: #ee1225;
}
.img{
    width: 30px;
    height: 30px;
    margin: 3px 0 0 3px;
   
}
.pass{
    margin: -5px 0 20px 5px ;
    color: #27355a;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.pass a{
    text-decoration:none;
}
.pass a:hover{
    color: #0b0c0c;
}
/*------------------------------------------------*/
input[type="submit"]{
   
    width:100%;
    height: 50px;
    border:1px solid;
    background: #2691d6;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight:700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2665d9;
    box-shadow:-10px -5px red ;
    transition:.5s ;
}
/*------------------------------------------------*/
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size:16px ;
    color:#c92e2e ;
}
.signup_link a{
    color:#c92e2e ;
    text-decoration: none ;
    padding-left:5px ;
}
.signup_link a:hover{
    text-decoration: underline;
    color: #2b0064;
}

/*-----------------------Aparição do form------------------------------*/
form {
    overflow: hidden;
    animation-name: apparition;
    animation-duration: 500ms;
}
@keyframes apparition{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/*-----------------------------Inputs da esquerda para a direita----------------------------------------- */

form .text-field:nth-child(1){
    animation: move 400ms;
   
  }
  form .text-field:nth-child(2){
    animation: move 400ms;
    animation-delay: 300ms;
    animation-fill-mode:backwards ;
    
  }
  form .text-field:nth-child(3){
    animation: move 400ms;
    animation-delay: 600ms;
    animation-fill-mode:backwards ;
  }
  form .button{
    animation:move 400ms;
    animation-delay: 750ms;
    animation-fill-mode:backwards ;
}
@keyframes move {
    from {
      opacity: 0;
      transform: translatex(-35%);
     
    }
    to {
      opacity: 1;
      transform: translatex(0%);
      
    }
  }
  /*-------------------------------form no no-----------------------------------------------*/
  form.validate-error{
      animation:no 300ms linear,  apparition paused ;
      animation-iteration-count: 2;
  }
  @keyframes no{
     0%{
         transform: translateX(0);
     }
     35%{
         transform: translateX(-15%);
     }
     70%{
         transform: translateX(15%);
     }
     100%{
         transform: translateX(0);
     }
  }
 /*-----------------------------squares----------------------------*/
body{
    overflow: hidden;
}
 .squares li{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    
    background-color: rgba(255, 255, 255, 0.678);
    display: block;
    position:absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
    
}

@keyframes up {
    from{
        opacity: 0;
transform: translateY(0) ;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-900px) rotate(960deg);
    }

}